<div class="container">
    <div class="account">
        <img src="assets/account.png" alt="accountLogo" class="accountLogo">
        <div>
            <p class="rib">Rib: <b>{{account.rib}}</b></p>
            <p class="balance">{{account.balance}}$</p>
        </div>
    </div>
    
    <div class="transfer">
        <h3 class="title">Transfers</h3>
        <div *ngIf="transfers.length >0 ">
            <p-table [value]="transfers">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Amount</th>
                        <th>Receiver Account</th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-transfer>
                    <tr>
                        <td>{{transfer.amount}}$</td>
                        <td>{{transfer.receiver}}</td>
                        <td>{{transfer.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngIf="transfers.length <1 ">
            <h2>You haven't done any transfer yet</h2>
        </div>
    </div>

    <div class="refill">
        <h3 class="title">Refills</h3>
        
        <div *ngIf="refills.length >0 ">
            <p-table [value]="refills">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Amount</th>
                        <th>Receiver Phone Number</th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-refill>
                    <tr>
                        <td>{{refill.amount}}$</td>
                        <td>{{refill.receiver}}</td>
                        <td>{{refill.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <div *ngIf="refills.length <1 ">
            <h2>You haven't done a refill yet</h2>
        </div>
    </div>
</div>