.container{
    display: flex;
    flex-direction: column;
}
/*.container div{
    border: 1px solid #000000;
}*/
 .account{
     display: flex;
    justify-content: center;
    box-shadow: 0 4px 6px #000;
}
.transfer, .refill{
   display: flex;
   flex-direction: column;
   align-items: center;
   box-shadow: 0 4px 6px #000;
}
.accountLogo{
    height: 150px;
    width: 150px;
}

.balance{
    color: rgb(230, 26, 26);
    font-size: 2em;
}

.rib{
    color: #444;
    font-size: 1.2em;
}

.title{
    color: rgb(230, 26, 26);
    font-size: 1.5em;
    justify-content: center;
}