<div class="container">
<div class="profile">
        <p-card header="Personal Details" styleClass="ui-card-shadow">
            
            <p-header>
                <img src="https://loremflickr.com/500/300/person?lock={{userDetails.pk}}"
                    alt="">
            </p-header>

            <div>
                <p>
                    <i class="pi pi-user info-icon"></i>
                    <span class="info">
                        {{userDetails.firstName}} {{userDetails.lastName}}
                    </span>
                </p>
                <p>
                    <i class="pi pi-envelope info-icon"></i>
                    <span class="info">
                        {{userDetails.email}}
                    </span>
                </p>
                <p>
                    <i class="pi pi-mobile info-icon"></i>
                    <span class="info">
                        {{userDetails.phoneNumber}}
                    </span>
                </p>
                <p>
                    <i class="pi pi-calendar info-icon"></i>
                    <span class="info">
                        {{userDetails.birthdate | date:'dd-MM-yyyy'}}
                    </span>
                </p>
            </div>
        </p-card>
    </div>

    <div class="agency">
        <p-card header="Agency Details" styleClass="ui-card-shadow">
            <p-header>
                <img src="https://loremflickr.com/500/300/company?lock={{userAgency.pk}}"
                    alt="">
            </p-header>
            <div>
                <p>
                    <i class="pi pi-users info-icon"></i>
                    <span class="info">
                        {{userAgency.name}}
                    </span>
                </p>
                <p>
                    <i class="pi pi-globe info-icon"></i>
                    <span class="info">
                        {{userAgency.location}}
                    </span>
                </p>
                <p>
                    <i class="pi pi-envelope info-icon"></i>
                    <span class="info">
                        {{userAgency.email}}
                    </span>
                </p>
                <p>
                    <i class="pi pi-mobile info-icon"></i>
                    <span class="info">
                        {{userAgency.phoneNumber}}
                    </span>
                </p>
            </div>
        </p-card>
    </div>
        
</div>