.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
/*.container div{
    border: 1px solid #000000;
}*/

.profile img, .agency img{
    max-height: 270px;
}

.profile, .agency{
    width: 35%;
}

.info-icon{
    font-size: 3em;
    display: inline-block;
}

.info{
    display: inline-block;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    margin-left: 10px;
    position: relative;
    top: -10px;
    color: white;
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .profile, .agency{
        margin-left: 15vw;
        width: 70%;
        margin-bottom: 5px;
    }

    .profile img, .agency img{
        max-height: 200px;
    }
}




