

  <div class="p-grid p-align-center vertical-container wrapper">
      <div class="p-col">
        <div class="p-grid p-justify-center">
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="box">
              <form (ngSubmit)="signIn()" #form="ngForm">
                <div class="card">
                    <div class="p-grid p-justify-center">
                       <!-- <h1 id="title" class="title">Log in with your login and password</h1>-->
                        <i class="pi pi-user user-icon"></i>
                    </div>
                    <div class="p-grid p-justify-center">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <div class="p-col-12">
                                <p-messages [(value)]="error"></p-messages>
                              <div class="box form-group">
                                <span class="ui-float-label">
                                    <input id="float-input" type="text" name="login" id="login"
                                    [(ngModel)]="login" #loginRef="ngModel"
                                     class="p-col-12" pInputText required> 
                                    <label for="float-input">Login</label>
                                </span>
                                  <p class="error-message" *ngIf="loginRef.invalid && loginRef.touched && loginRef.errors?.required">
                                    Login is required!
                                  </p>
                              </div>
                            </div>
                          
                            <div class="p-col-12">
                                <div class="box form-group">
                                  <span class="ui-float-label">
                                      <input id="float-input"  type="password" name="password" id="password"
                                       [(ngModel)]="password" #passwordRef="ngModel"
                                      class="p-col-12" pInputText required> 
                                      <label for="float-input">Password</label>
                                  </span>
                                    <p class="error-message" *ngIf="passwordRef.invalid && passwordRef.touched && passwordRef.errors?.required">
                                      Password is required!
                                    </p>
                                </div>
                            </div>
                            <div class="p-col-12">
                                <div class="box form-group">
                                    <button pButton type="button" label="Login" type="submit"
                                    class="ui-button-raised ui-button-success p-col-12" [disabled]="!form.valid"></button>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>
              </form>

            </div>
          </div>
      </div>
    </div>
</div>