.wrapper{
    /*background: #595a5a;*/
    /*flex-wrap: wrap;*/
    height: calc(99vh);
    margin-bottom: -0.7em;
    background-color: #333;
}

.form-group{
    padding: 10px;
}

/*.title {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }*/
.card{
    background-color: #444;
    color: white;
    border-radius: 3px;
}

.user-icon{
    font-size: 150px;
}
/*.error-message{
    display: inline-block;
    margin: 0;
    font-size: 1em;
    color:red;
}*/

