

  <div class="p-grid">
      <div class="p-col">
        <div class="p-grid p-justify-center">
          <div class="p-col-12 p-md-6 p-lg-6">
            <div class="box">
              <form (ngSubmit)="transfer()" #form="ngForm">
                <div class="card">
                    <div class="p-grid p-justify-center">
                        <h1 id="title" class="title on-white">Make a transfer </h1>
                    </div>
                    <div class="p-grid p-justify-center">
                        <div class="p-col-12 p-md-6 p-lg-6">
                            <div class="p-col-12">
                                <p-messages [(value)]="error"></p-messages>
                              <div class="box form-group">
                                <span class="ui-float-label">
                                    <input id="float-input" type="number" name="recipient" id="recipient"
                                    [(ngModel)]="recipient" #recipientRef="ngModel"
                                     class="p-col-12" pInputText required> 
                                    <label for="float-input">Recipient Account</label>
                                </span>
                                  <p class="error-message" *ngIf="recipientRef.invalid && recipientRef.touched && recipientRef.errors?.required">
                                    Recipient account number required
                                  </p>
                              </div>
                            </div>
                          
                            <div class="p-col-12">
                                <div class="box form-group">
                                  <span class="ui-float-label">
                                      <input id="float-input"  type="number" name="amount" id="amount"
                                       [(ngModel)]="amount" #amountRef="ngModel"
                                      class="p-col-12" pInputText required> 
                                      <label for="float-input">Amount</label>
                                  </span>
                                    <p class="error-message" *ngIf="amountRef.invalid && amountRef.touched && amountRef.errors?.required">
                                      Amount is required!
                                    </p>
                                </div>
                            </div>
                            <div class="p-col-12">
                                <div class="box form-group">
                                    <button pButton type="button" label="Transfer" type="submit"
                                    class="ui-button-raised ui-button-success p-col-12" [disabled]="!form.valid"></button>
                                </div>
                            </div>
                      </div>
                    </div>
                  </div>
              </form>

            </div>
          </div>
      </div>
    </div>
</div>
