<div class="sample-layout">
    <div class="menu">
        <div class="topnav" id="myTopnav">
            <a href="javascript:void(0);" class="active link logo">EBA</a>
            <a href="/dashboard" class="link">Home</a>
            <a href="/dashboard/account" class="link">My Account</a>
            <a href="/dashboard/transfer" class="link">Make a transfer</a>
            <div  class="link profile">
                <span >{{login}}</span>
                <a href="javascript:void(0);" (click)="logout()">
                    <i class="pi pi-sign pi-sign-out logout-icon"></i>
                </a>
            </div>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="pi pi-align pi-align-justify" style="font-size: 2em; color:white"></i>
            </a>
        </div>
    </div>
    <div class="content">
            <p-messages [(value)]="error"></p-messages>
            <router-outlet></router-outlet>
    </div>
    <div class="footer">
        ©Copyright ExcellenciaBank
    </div>
</div>
