.sample-layout{
    display: flex;
    height: 100vh;
    direction: column;
 }
 
 .box-stretched {
     height: 100%;
 }
 
 .sample-layout {
     /*margin: 0;*/
     height: calc(100vh);
     flex-direction: column
 }

 .menu{
     padding: 0;
     z-index: 1000;
 }
 
 .content{
  padding: 5px; 
  background-color: #fff;
  flex: 1;
}

 .footer{
    background-color: #444;
    color: white;
    height: 50px;
    padding: 5px; 
 }
 
 
 
 .content div{
   border: 1px solid;
 }
 
   .topnav {
     overflow: hidden;
     background-color: #444;
   }
   
   .topnav a.link {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 26px 28px;
     text-decoration: none;
     font-size: 17px;
   }
   
   .topnav div {
     float: left;
     display: block;
     color: #f2f2f2;
     text-align: center;
     padding: 22px 24px;
     text-decoration: none;
     font-size: 17px;
   }
   .topnav a.link:hover {
     /*background-color: #ddd;*/
     /*color: black;*/
     background-color: rgb(230, 26, 26);
   }
   
  .link.active {
     /*background-color: #4CAF50;*/
     background-color: rgb(230, 26, 26);
     color: white;
   }
   
   .topnav .icon {
     display: none;
   }
 
   .topnav .link.profile {
     float: right;
   }
 
   .logout-icon{
     position: relative;
     top:5px;
     font-size: 1.3em;
     color:white
   }
   @media screen and (max-width: 600px) {
     .topnav a.link:not(:first-child) {display: none;}
     .topnav a.icon {
       float: right;
       display: block;
       padding: 18px 20px;
     }
 
     .topnav .link.profile{
         display: none;
         float: left;
     }
   }
   
 
   @media screen and (max-width: 600px) {
     .topnav.responsive {position: relative;width: 100%;}
     .topnav.responsive .icon {
       position: absolute;
       right: 0;
       top: 0;
     }
     .topnav.responsive a.link {
       float: none;
       display: block;
       text-align: left;
     }
 
     .topnav.responsive .link.profile{
         display: block;
     }
   }
   
.logo{
  font-weight: bold;
} 
 