/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
}
body .ui-messages.ui-messages-error{
    background-color: red;
    color: white;
    padding: 0.5em;
    font-size: 12px;
}

body .ui-messages.ui-messages-error .ui-messages-icon, body .ui-messages.ui-messages-success .ui-messages-icon{
    color: white;
    display: none;
}
body .ui-messages.ui-messages-error .ui-messages-close, body .ui-messages.ui-messages-success .ui-messages-close{
    color: white;
}

body .ui-messages.ui-messages-success{
    background-color: #34A835;
    color: white;
}

body .profile .ui-card, body .agency .ui-card{
    background-color: #444;
    color: rgb(243, 56, 56);
}
.title {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
  }

.title.on-white{
    color: #444;
}

.error-message{
    display: inline-block;
    margin: 0;
    font-size: 1em;
    color:red;
}